<header>

  <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center bg-primary">
    <a href="/" class="navbar-brand d-flex  w-20 text-white">
      <h1>Grant Credits</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">

      <ul class="nav navbar-nav ml-auto w-100 justify-content-start">
        <li class="nav-item">
          <a class="nav-link text-white mr-4" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white mr-4" href="#">Flujo de caja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white mr-4" href="#">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white mr-4" href="#">Líneas de credito</a>
        </li>
      </ul>
      <img class="mr-2" src="assets/img/userImageNavbar.png" height="40px" alt="">
      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User name
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" type="button">Actualizar datos</button>
          <button class="dropdown-item" type="button">Alertas</button>
          <button class="dropdown-item" type="button">Cerrar sesión</button>
        </div>
      </div>
    </div>
  </nav>

</header>
