<main class="container-fluid">
  <div class="row" style="background-color: #F6EEEE;">
    <section class="col-sm container-fluid d-flex flex-column justify-content-around align-items-center " style="height: 85vh;">

      <div class="container border shadow p-3 bg-white rounded d-flex justify-content-center " style="height: 30%; width: 90%; ">
        <div class="container-fluid d-flex flex-column justify-content-around align-items-center" style="width: 65%; ">
          <div>
            <h2 class="text-primary text-center" style="font-size:4vh;">CREA UNA LÍNEA DE CRÉDITO</h2>
          </div>
          <a type="button" class="btn btn-primary" style="width: 70%;" href="#">Crear</a>
        </div>
        <div class="d-flex justify-content-center align-items-center" style="width: 35%; height: 100%">
          <lottie-player class="img-fluid  d-flex justify-content-center align-items-center " src="https://assets4.lottiefiles.com/packages/lf20_1WzfH8.json"  background="transparent"  speed="0.4"  style="width: 100%; height: 100%;"    autoplay></lottie-player>
        </div>


      </div>

      <div class="container shadow p-3 bg-white rounded d-flex justify-content-center " style="height: 30%;width: 90%; ">

        <div class="d-flex justify-content-center align-items-center" style="width: 35%; height: 100%">
          <lottie-player class="img-fluid  d-flex justify-content-center align-items-center " src="https://assets10.lottiefiles.com/packages/lf20_v43587.json"  background="transparent"  speed="0.8"  style="width: 95%; height: 95%"   autoplay></lottie-player>
        </div>

        <div class="container-fluid d-flex flex-column justify-content-around align-items-center" style="width: 65%; ">
          <div>
            <h2 class="text-primary text-center" style="font-size:4vh;">AGREGA UN NUEVO USUARIO</h2>
          </div>


          <a class="btn btn-primary text-center" href="# " style="width: 70%;">Agregar</a>

        </div>

      </div>

      <div class="container shadow p-3 bg-white rounded d-flex justify-content-center " style="height: 30%; width: 90%; ">
        <div class="container-fluid d-flex flex-column justify-content-around align-items-center" style="width: 65%; ">
          <div>
            <h2 class="text-primary text-center " style="font-size:4vh;">CHEQUEAR FLUJO DE CAJA</h2>
          </div>


          <a class="btn btn-primary" href="#" style="width: 70%;">Ingresar</a>

        </div>
        <div class="d-flex justify-content-center align-items-center" style="width: 35%; height: 100%">
          <lottie-player class="img-fluid  d-flex justify-content-center align-items-center " src="https://assets4.lottiefiles.com/packages/lf20_c8ovebms.json"  background="transparent"  speed="0.4"  style="width: 100%; height: 100%;"    autoplay></lottie-player>
        </div>

      </div>

    </section>

    <section class="container-fluid d-flex justify-content-center align-items-center col-sm " style=" height: 85vh; ">

        <lottie-player class="img-fluid d-flex align-items-center justify-content-center" src="https://assets6.lottiefiles.com/packages/lf20_XyfCyq.json"  background="transparent"  speed="1"  style="width: 80%; height: 80%;"  loop  autoplay></lottie-player>

    </section>

  </div>

</main>
