
@media (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }
  body {
    overflow: hidden;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*.bg-primary {*/
/*  background-color: #2ee6c5 !important;*/
/*}*/
/*.btn-primary {*/
/*  background-color: #2ee6c5 !important;*/
/*  border: #2ee6c5;*/
/*}*/
